h1{
    text-align: center;
    background-color: beige;
}
body{
    background-color: lightgreen;
}
ul{
    list-style-type: square;
    text-align: left;
    font-size: 20px;
    color: black;
    margin-left: 20%;
    margin-right: 20%;
    background-color: beige;
    text-align: center;
}